# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Created by merging

*.orig

# release files

/Release/*
/Debug/*

#project files

*.sdf
*.suo
*.opensdf

#ipch files

ipch/*

# scons files
config.log
# Binary from scons
summergame

# some scons thing
.sconsign.dblite

# vim swapfiles
*.swp
