# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


# Created by merging

*.orig

# release files

release/*

#project files

*.sdf
*.suo
*.opensdf
*.vcxproj
*.filters

#ipch files

ipch/*